.box-layout {
  background: url('/images/laguna-bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__center {
  align-items: center;
}

.box-layout__box {
  background: fade-out($color: $light-gray, $amount: .25);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 30rem;
  button {
    margin: $s-size 0;
  }
  input {
    margin-bottom: $xs-size;
  }
}

.box-layout__box-transparent {
  color: white;
  padding: $l-size $m-size;
  text-align: center;
  text-shadow: 2px 2px $darkest-gray;
  width: 100vw;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.box-layout__image {
  margin: 0 0 $m-size 0;
}

.box-layout__right-items {
  align-items: right;
  justify-content: right;
  /*margin: 0 0 $l-size 0; 
  padding: $s-size $s-size 0 0;*/
  text-align: right;
}