
// Colors
$sea: #00ffdf;
$green: #1D9391;
$sand: #EABF60;
$light-gray: #c4c6c8;
$dark-gray: #333;

// Font Size
$font-size-large: 1.8rem;


// Spacing
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;